<!DOCTYPE html>
<html lang="vi">
<head>
<meta charset="UTF-8">
<title>Giấy CN tốt nghiệp tạm thời</title>
<style>
    body { font-family: "Times New Roman", serif; }
    .center { text-align: center; }
</style>
</head>
<body onload="window.print()">
    <h2 class="center">GIẤY CHỨNG NHẬN TỐT NGHIỆP TẠM THỜI</h2>
    <p>Họ tên: <b>{{ sv.Holot }} {{ sv.Ten }}</b></p>
    <p>Ngày sinh: {{ sv.Ngaysinh }}</p>
    <p>Lớp: {{ sv.TenLop }}</p>
    <p>Xác nhận sinh viên đã hoàn thành chương trình đào tạo và đủ điều kiện tốt nghiệp.</p>
    <p>Ngày sinh: {{ sv.Ngaysinh }}</p>
	<p>Ngày ký: {{ sv.Ngayky }}</p>
</body>
</html>
